.body-page{
    padding: 0 30px;
}
h1{
    font-family: "Lemonada-SemiBold",  cursive;
    color: #280909;
    font-size: 1.75rem;
    margin-top: 114px;
    text-align: center;
}
form{
    margin-top: 30px;
}
form .input{
    background: #fff;
    border: 1px solid #280909;
    border-radius: 20px;
    padding: 0 55px 30px 55px;
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
form .input label{
    font-family: "Roboto-Bold", sans-serif;
    font-size: 1.1rem;
    color: #280909;
    margin-bottom: 10px;
    margin-top: 28px;
}
form .input input{
    font-size: 1rem;
    padding: 7px 10px;
}
form input[type="submit"]{
    display: block;
    margin: auto;
    font-size: 1.35rem;
    font-family: serif;
    font-weight: bold;
    color: #fff;
    background: #748E0F;
    border: none;
    padding: 10px 48px;
    margin-top: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
form input[type="submit"]:hover{
    background: #3b4a03;
}
@media(max-width: 450px){
    form .input{
        padding: 0 30px 30px 30px;
    }
}