.body-page{
    padding: 0 30px;
}
h1{
    font-family: "Lemonada-SemiBold",  cursive;
    color: #280909;
    font-size: 1.75rem;
    margin-top: 114px;
    text-align: center;
}
form{
    margin-top: 20px;
}
form .input{
    background: #fff;
    border: 1px solid #280909;
    border-radius: 20px;
    padding: 0 45px 30px 45px;
    max-width: 440px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
form .input label{
    font-family: "Roboto-Bold", sans-serif;
    font-size: 1.1rem;
    color: #280909;
    margin-bottom: 10px;
    margin-top: 22px;
}
form .input input{
    font-size: 1rem;
    padding: 7px 10px;
}
form input[type="submit"]{
    display: block;
    margin: auto;
    font-size: 1.25rem;
    font-family: serif;
    font-weight: bold;
    color: #fff;
    background: #748E0F;
    border: none;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
form input[type="submit"]:hover{
    background: #3b4a03;
}

@media(max-width: 450px){
    form .input{
        padding: 0 30px 30px 30px;
    }
}