.body-page{
    padding: 0 30px;
}
h1{
    font-family: "Lemonada-SemiBold",  cursive;
    color: #280909;
    font-size: 1.75rem;
    margin-top: 114px;
    text-align: center;
}
.main{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}
.main form{
    display: flex;
    flex-direction: column;
    padding: 10px 60px 40px 60px;
    border: 1px solid #280909;
    border-radius: 10px;
    background: #fff;
}
.main form label{
    font-family: "Roboto-Bold", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 7px;
    margin-top: 22px;
}
.main form input{
    font-size: 1rem;
    padding: 7px 10px;
    width: 300px;
}
form input[type="submit"]{
    display: block;
    margin: auto;
    font-size: 1.35rem;
    font-family: serif;
    font-weight: bold;
    color: #fff;
    background: #748E0F;
    border: none;
    padding: 10px 48px;
    margin-top: 30px;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

@media(max-width: 1030px){
    .main .image img{
        width: 100%;
    }
}
@media(max-width: 890px){
    .main .image img{
        display: none;
    }
    .main{
        justify-content: center;
    }
}
@media(max-width: 530px){
    .main form input{
        width: 100%;
    }
    .main form{
        padding: 10px 20px 40px 20px;
    }
}