.banner{
    position: relative;
    height: 390px;
    background: url("../banner/938b0238c4d144122c54956f7a551167.jpg");
    background-size:cover; 
    background-position: center;
}

.banner h1{
    position: absolute;
    bottom: 20%;
    padding-left: 80px;
    font-family: "Lemonada-SemiBold",  cursive;
    color: #fff;
    font-size: 2.6rem;
    text-shadow: 0 0 8px black, 0 0 24px black, 0 0 56px black,0 0 74px black;
}

.body-web{
    padding: 0 30px;
}

.section{
    margin-top: 120px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
.section h2{
    font-family: "Lemonada-Bold", cursive;
    font-size: 1.6rem;
    color: #280909;
    text-align: center;
    margin-bottom: 40px;
}
.section .content .part{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.section .content .part .image img{
    width: 434px;
    border-radius: 21px;
}
.section .content .part .text{
    padding: 0 60px;
    text-align: center;
}
.section .content .part .text h3{
    font-family: "Roboto-Bold" , sans-serif;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.section .content .part .text p{
    font-family: "Roboto-Regular" , sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
}
@media(max-width: 880px) and (min-width: 690px){
    .section .content .part .image img{
        width: 290px;
    }
    .section .content .part .text{
        padding: 0 30px;
    }

}
@media(max-width: 690px){
    .banner h1{
        padding-left: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
    .section .content .part{
        flex-direction: column;
    }
    .section .content .part .image{
        order: 2;
    }
    .section .content .part .text{
        order: 1;
    }
    .section .content .part .image img{
        width: 100%;
    }
    .section .content .part .text{
        padding: 0;
        margin-bottom: 15px;
    }
}
