.banner{
    position: relative;
    height: 390px;
    background: url("../banner/938b0238c4d144122c54956f7a551167.jpg");
    background-size:cover; 
    background-position: center;
}

.banner h1{
    position: absolute;
    bottom: 20%;
    padding-left: 80px;
    font-family: "Lemonada-SemiBold",  cursive;
    color: #fff;
    font-size: 2.6rem;
    text-shadow: 0 0 8px black, 0 0 24px black, 0 0 56px black,0 0 74px black;
}
@media(max-width: 690px){
    .banner h1{
        padding-left: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
}
.body-web{
    padding: 0 30px;
}
li{
    list-style-type: none;
}
.wrap{
    max-width: 1250px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.wrap .menu{
    margin-right: 70px;
   
}
.wrap .menu .stick{
    position: sticky;
    
    margin-top: 50px;
    top: 100px;
   
}
.wrap .menu .stick .search{
    margin-bottom: 20px;
    display: flex;
    border-radius: 8px;
    border: 1px solid #2d0000;
    overflow: hidden;
}
.wrap .menu .stick .search input{
    flex-grow: 1;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
}
.wrap .menu .stick .search input:focus{
    outline: none;
}
.wrap .menu .stick .search button{
    font-size: 1rem;
    padding: 8px 12px;
    color: #2d0000;
    cursor: pointer;
    border: none;
    background: #fff;
    transition: 0.3s;
}
.wrap .menu .stick .search button:hover{
    transform: scale(1.2);
}

.wrap .menu .stick .category{
     background:  #2d0000;
     padding: 24px 20px;
    border-radius: 8px;
}

.wrap .menu h3{
    font-family: "Lemonada-Bold", cursive;
    font-size: 1.1rem;
    margin-bottom: 28px;
    width: 222px;
    text-align: center;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}
.wrap .menu ul{
    width: 100%;
}
.wrap .menu li{
    margin-bottom: 15px;
}
.wrap .menu li a{
    font-family: "Lemonada-Bold", cursive;
    color: #000;
    font-size: 0.9rem;
    padding: 11px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffb18d;
    border-radius: 7px;
    transition: 0.5s;
}
.wrap .menu li a:hover{
    background: #481115;
    color: #fff;
    box-shadow: 0 0 10px #fff;
}
.wrap .product .section{
    margin-bottom: 40px;
}
.wrap .product .section:last-child{
    margin-bottom: 0;
}

.wrap .product .section .add{
    text-align: center;
    
}
.hidden{
    display: none;
}
.wrap .product .section .add button{
    font-family: serif;
    color: #0b0806;
    background: #ffb18d;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 9px 30px;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
    transform: translateY(-10px);
}
.wrap .product .section .add button:hover{
    transition: 0.3s;
    color: #fff;
    background: #481115;
}


.wrap .product h2{
    font-family: "Lemonada-Bold", cursive;
    font-size: 1.5555rem;
    text-align: center;
    margin-bottom: 36px;
    color: #280909;
}

.wrap .product .cake{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.wrap .product .item{
    width: calc(33.333% - 60px);
    background: #2d0000;
    margin: 0 30px;
    margin-bottom: 60px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.wrap .product .item .icon{
    position: absolute;
    top: 12px;
    right: 9px;
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}
.wrap .product .item:hover .icon{
    opacity: 1;
    
}
.wrap .product .item .icon > div{
    margin: 0;
    margin-bottom: 15px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    background: rgba(39, 0, 0, 0.85);;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
}
.wrap .product .item .icon > div:hover .like{
    transition: 0.2s;
    color: red;
 
}
.wrap .product .item .icon > div:hover .buy{
    transition: 0.2s;
    color: green;
   
}

.wrap .product .item .image img{
    width: 100%;
}
.wrap .product .item .content{
    text-align: center;
    padding:10px 5px 25px 5px;
    color: #d1d0d0;
}
.wrap .product .item .content .name{
    font-weight: bold;
    font-size: 1.222rem;
}
.wrap .product .item .content .price{
    font-weight: bold;
    margin: 5px 0 20px 0;
}
.wrap .product .item .content a{
    font-weight: bold;
    font-size: 0.9rem;
    padding: 9px 15px;
    color: #fff;
    background: #F35106;
    border-radius: 5px;
}
.wrap .product .item .content a:hover{
    transition: 0.3s;
    background: #481115;
    box-shadow: 0 0 10px #fff;
}
@media(max-width: 1160px){
    .wrap .product .cake{
        margin: 0 -15px;
    }
    .wrap .product .item{
        margin-left: 15px;
        margin-right: 15px;
        width: calc(33.333% - 30px);
    }
    .wrap .menu h3{
        width: 170px;
    }
}
@media(max-width: 1010px){
    .wrap .product .item{
        width: calc(50% - 30px);
    }
    .wrap .menu{
        margin-right: 40px;

    }
}
@media(max-width: 790px){
    .wrap .product .item{
        width: calc(100% - 30px);
    }
    .wrap .product .item .icon{
        opacity: 1 !important;        
    }
}

.showList{
    position: fixed;
    top: 50%;
    left: 10px;
    z-index: 999;
    transform: translateY(-50%);
    background: rgba(17, 1, 1, 0.7);
    color: #fff;
    padding: 37px 8px;
    font-size: 26px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.hide{
    text-align: end;
    padding: 10px;
    display: none;
}
.hide .hideList{
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
}
@media(max-width: 570px){
    .wrap .menu .stick .search{
        margin: 10px 30px 0 30px;
    }
    .wrap .menu .stick .category{
        padding: 12px 20px;
    }
    .showList{
        display: block;
    }
    .hide{
        display: block;
    }
    .wrap .menu .stick{
    position: fixed;
    background: #2d0000;
    top: 50%;
    z-index: 99991;
    transform: translateY(-50%);
    left: -500px;
    transition: 0.5s;
    padding-top: 10px; 
    }
    .wrap .menu h3{
        width: 222px;
    }
    .wrap .menu{
        margin-right: 0;
    }
    .show{
        left: 0 !important;
    }
}
@media(max-width: 369px){
    .wrap .menu .stick .search input{
        width: 150px;
    }
}

@media(max-height: 686px) and (min-width: 570px){
    .wrap .menu .stick {
        margin-top: 0;
        top: 10px;
    }
    .wrap .menu h3{
        margin-bottom: 5px;
    }
}
@media(max-height: 470px){
    .wrap .menu .stick{
        position: static;
    }
}

.add-like, .exist{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
    color: #a0190f;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid;
    display: none;
    white-space: nowrap;
    text-align: center;
}
.exist{
    color: #748E0F;
}

@media(max-width: 400px){
    .add-like, .exist{
         font-size: 0.9rem;  
    }
  
}

.fly-img{
    position: absolute;
    width: 30px;
    border-radius: 5px;
    opacity: 0;
    transform-origin: top right;
    transition: 1s;
}
.fly{
    animation: fly 1.5s linear  1;
}
@keyframes fly{
    0%{
        transform: scale(6);
    }
    40%{
        transform: scale(6);
        opacity: 1;
    }

    90%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
       transform: scale(1);
    }
}
#big-cart{
    position: fixed;
    font-size: 1.5rem;
    color: #748E0F;
    z-index: 999;
    bottom: 140px;
    right: 40px;
    display: none;
    opacity: 0.7;
    border: 2px solid;
    border-radius: 50%;
    padding: 8px;
}
#big-cart:hover{
    opacity: 1;
    transition: 0.5s;
}
#big-cart p{
    position: absolute;
    top: -7px;
    left: 62%;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    color: #000;
    font-size: 0.9rem;
}