.banner{
    position: relative;
    height: 390px;
    background: url("../banner/938b0238c4d144122c54956f7a551167.jpg");
    background-size:cover; 
    background-position: center;
}

.banner h1{
    position: absolute;
    bottom: 20%;
    padding-left: 80px;
    font-family: "Lemonada-SemiBold",  cursive;
    color: #fff;
    font-size: 2.6rem;
    text-shadow: 0 0 8px black, 0 0 24px black, 0 0 56px black,0 0 74px black;
}
@media(max-width: 690px){
    .banner h1{
        padding-left: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
}
.body-web{
    padding: 0 30px;
}
li{
    list-style-type: none;
}
.wrap{
    max-width: 1250px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.wrap .menu{
    margin-right: 70px;
   
}
.wrap .menu .stick{
    position: sticky;
    padding: 30px 20px;
    margin-top: 50px;
    top: 100px;
    background: #110101;
    border-radius: 8px;
}
.wrap .menu h3{
    font-family: "Lemonada-Bold", cursive;
    font-size: 1.1rem;
    margin-bottom: 50px;
    width: 250px;
    text-align: center;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    text-shadow: 0 0 10px #a4a4a4, 0 0 20px #a4a4a4;
}
.wrap .menu ul{
    width: 100%;
}
.wrap .menu li{
    margin-bottom: 15px;
}
.wrap .menu li a{
    font-family: "Lemonada-Bold", cursive;
    color: #280909;
    font-size: 0.9rem;
    padding: 11px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #ebb7a8, #cb8f7d, #ab6954, #8a442d, #681f07);
    border-radius: 7px;
}
.wrap .menu li a:hover{
    background-image: linear-gradient(to bottom, #f4cfc4, #eab7a7, #df9f8c, #d28870, #c57156);
}
.wrap .product .section{
    margin-bottom: 40px;
}
.wrap .product .section:last-child{
    margin-bottom: 0;
}
.wrap .product h2{
    font-family: "Lemonada-Bold", cursive;
    font-size: 1.5555rem;
    text-align: center;
    margin-bottom: 36px;
    color: #280909;
}

.wrap .product .cake{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.wrap .product .item{
    width: calc(33.333% - 60px);
    background-image: linear-gradient(to bottom, #e1968b, #a76e68, #704947, #3d2727, #110101);
    margin: 0 30px;
    margin-bottom: 70px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.wrap .product .item:hover .icon{
    opacity: 1;
    transition: 0.5s;
}
.wrap .product .item .icon{
    position: absolute;
    top: 12px;
    right: 24px;
    color: #a3a3a3;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
}
.wrap .product .item .icon > div{
    margin: 0;
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 15px #fff;
    cursor: pointer;
}
.wrap .product .item .icon > div .like:hover{
    transition: 0.2s;
    color: red;
 
}
.wrap .product .item .icon > div .buy:hover{
    transition: 0.2s;
    color: green;
   
}

.wrap .product .item .image img{
    width: 100%;
}
.wrap .product .item .content{
    text-align: center;
    padding:10px 5px 25px 5px;
    color: #d1d0d0;
}
.wrap .product .item .content .name{
    font-weight: bold;
    font-size: 1.222rem;
}
.wrap .product .item .content .price{
    font-weight: bold;
    margin: 5px 0 20px 0;
}
.wrap .product .item .content a{
    font-weight: bold;
    font-size: 0.9rem;
    padding: 9px 15px;
    color: #fff;
    background: #F35106;
    border-radius: 5px;
}
.wrap .product .item .content a:hover{
    transition: 0.3s;
    background: #481115;
    box-shadow: 0 0 10px #fff;
}
@media(max-width: 1160px){
    .wrap .product .cake{
        margin: 0 -15px;
    }
    .wrap .product .item{
        margin-left: 15px;
        margin-right: 15px;
        width: calc(33.333% - 30px);
    }
    .wrap .menu h3{
        width: 170px;
    }
}
@media(max-width: 1010px){
    .wrap .product .item{
        width: calc(50% - 30px);
    }
    .wrap .menu{
        margin-right: 40px;

    }
}
@media(max-width: 790px){
    .wrap .product .item{
        width: calc(100% - 30px);
    }
}
.showList{
    position: fixed;
    top: 50%;
    left: 10px;
    z-index: 999;
    transform: translateY(-50%);
    background: rgba(132, 34, 34, 0.73);
    color: #fff;
    padding: 60px 10px;
    font-size: 26px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.hide{
    text-align: end;
    padding: 10px 20px 30px 0;
    display: none;
}
.hide .hideList{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgba(132, 34, 34);
    color: rgba(132, 34, 34);
    cursor: pointer;
    font-size: 19px;
}
@media(max-width: 570px){
    .showList{
        display: block;
    }
    .hide{
        display: block;
    }
    .wrap .menu .stick{
    position: fixed;
    background: #110101;
    top: 50%;
    z-index: 99991;
    transform: translateY(-50%);
    left: -500px;
    transition: 0.5s;
    padding-top: 10px; 
    }
    .wrap .menu h3{
        width: 260px;
    }
    .wrap .menu{
        margin-right: 0;
    }
    .show{
        left: 0 !important;
    }
}

@media(max-height: 600px){
    .wrap .menu h3{
        margin-bottom: 5px;
    }
    .wrap .menu li{
        padding: 10px 0;
    }
}
@media(max-height: 470px){
    .wrap .menu .stick{
        position: static;
    }
}