
h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 34px;
}

table{
    width: 1000px;
    border-collapse: collapse;
    font-size: 18px;
    margin: auto;
    white-space: nowrap;
    box-shadow: 1px 6px 26px #000;
}
thead{
    text-align: left;
     color: white;
     background: rgb(12, 145, 19);
}
th{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
td,th{
 padding-left: 14px;
}
tr:nth-child(even){
    background: #e6e5e5;
}

tbody tr:hover{
    background: #82ef86; 
}

td{
 padding-top: 10px;
 padding-bottom: 10px;

}

.repair,.delete,.done,#add,#quit,.cance{
    font-size:17px;
    text-align: center;
    cursor: pointer;
}
.done,#add{
    color: green;
    display: none;
}
.repair{
    color: blue;
}
.delete,#quit{
    color: red;
}
.cance{
    display: none;
    color: red;
}


.sort:hover{
    background: #4CAF50;
    cursor: pointer;
}
.wrap-create{
    text-align: center;
    margin-top: 42px;
}
#create{
    color: white;
    background-image: linear-gradient(to right top, #18d523, #12b31b, #0c9113, #07710c, #035306);
    padding:10px;
    font-size: 19px;
    border-radius: 20px;
    box-shadow: 1px 6px 26px #000;
    cursor: pointer;
}
#create:active{
    background-image: linear-gradient(to left bottom, #18d523, #12b31b, #0c9113, #07710c, #035306);
    box-shadow: 0px 0px 0px #000;
}
#create:hover{
    opacity: 0.8;
}
input{
     width: 70%;
    font-size: 15px;
     padding: 3px;
}

td:last-child{
    text-align: right;
    padding-right: 5px;
    
}
#submit{
    position: relative;
    width: 70px;
    height: 30px;
    margin-left: 4px;
}
#reset{
    width: 70px;
    height: 30px;
    margin-left: 4px;
}
#warning{
    position: absolute;
    background: #dd3a3a;
    white-space: nowrap;
    font-size: 16px;
    padding: 10px;
    border-radius: 13px;
    top: 202%;
    right: -114%;
    display: none;

}
#warning::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color:  transparent transparent #dd3a3a  transparent;

}
#search{
    width: 286px;
    font-size: 16px;
    padding: 6px;
}
.searchWrap{
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
#find{
    position: absolute;
    background: #efdc82;
    white-space: nowrap;
    font-size: 16px;
    padding: 10px;
    border-radius: 13px;
    top: 115%;
    right: 50%;
    font-style: italic;
    display: none;
}
#find::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left:50%;
    border-width: 7px;
    border-style: solid;
    border-color:  transparent transparent #efdc82 transparent ;
}