table{
    min-width: 1000px;
    border-collapse: collapse;
    padding-left: 10px;
    font-size: 20px;
    margin: auto;
}
td,th{
 padding-left: 15px;
}
tr:nth-child(even){
    background: #eeeded;
}
thead{
 text-align: left;
 color: white;
 background: green;

}
 th{
 padding-top: 20px;
 padding-bottom: 20px;

}
h1{
    text-align: center;
}
.sua,.xoa,.ok{
    font-size:17px;
    text-align: center;
    cursor: pointer;
}
.ok{
    color: green;
    display: none;
}
.sua{
    color: blue;
}
.xoa{
    color: red;
}
td{
 padding-top: 10px;
 padding-bottom: 10px;

}
tbody tr:hover{
    background: #f1e791; 
}
#sortByName:hover,#sortByYear:hover{
    background: #4CAF50;
    cursor: pointer;
}